body{
    background-color: pink;
    border:30px solid green;

}
*{
    text-align: justify;
    box-sizing: border-box;
    width: 70%; 
    padding: 1px; 
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-family: tahoma;

}
h1{
    color: orangered;

