* {
  margin: 0;
  padding: 0;
  
}

.header {
  padding: 15px 80px;
  color: navy;
  background-color:grey;
  border: none;
  cursor: pointer;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color:goldenrod;
  line-height: 1.6;
  text-align: center;
  background-image: url(cars.jpg);

}

.blessing {
  padding-top: 50px;
  font-size: 50px;
}
.sentence {
  padding-top: 20px;
  padding-bottom: 20px;
}

.clicks {
  padding: 12px 30px;
  border-top-left-radius: 20px;
  background-color: skyblue;
  color: navy;
}


container {
  max-width: 300px;
  margin: auto;
  position: relative;s
  animation: heading;
}
@keyframes heading {
  0% {top: 50;}
  100% {top: 200px;}
}
#content {
  position: relative;
  animation-name: content;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  padding-top: 50px;
}

@keyframes content {
  0% {
    left: -1000px;
  }
  100% {
    left: 0%;
  }
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border: white 1px solid;
  margin-top: 40px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  transition-property: transform;
  transition-duration: 1s;
}

.btn:hover {
  transform: rotateY(180deg);
}

@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  .blessing {
    padding-top: 50px;
  }