<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h1{
  text-transform: uppercase;
}

.lilly{
  list-style-type: upper-roman;
}
.intro{
  font-family: tahoma;
}
*{
 box-sizing: border-box;
 width: 1000px;
 margin: left;
 text-align: left;
 padding: 0px;
 font-family: tahoma;
 text-indent: 0px;
 letter-spacing: normal;
 line-height: normal;

}
