.list{
    text-align: auto;
}

body{
    background-color:navy;
    color: white;
    background-image: micheal
}
ul{
    inline-size:auto;
}
h1,h2,p,h4{
    text-align: center;
    color: red;
}
img{
    margin-left:auto;
    margin-right:auto;
    
}
.grace{
    border-radius: 50%;
}
img::after{
Color: purple;
}
